<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    </head>
    <body>
        <div class="container">
            <h1>Narika Hall</h1>
            <p>I am a web developer. I love to make web apps.</p>
            <div class="image">
                <img src="{{url_for('static', filename='css/web-dev.jpg')}}" alt="web developer">
            </div>
        </div>     
    </body>
</html>